include README.md
include LICENSE
include CONTRIBUTING.md
include USAGE_EXAMPLES.md
recursive-include causallm *.py
recursive-include examples *.py *.md
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
prune tests